$green: #065f06;
$light: rgba(6, 95, 6, 0.25);
$extra-dark: rgba(3, 51, 3, 0.493);

.tile-list{
    max-width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 25px;
}
// .tile-list::after{
//     content: '';
//     flex: auto;
// }
.tile{
    box-sizing: border-box;
    margin: 16px;
    width: 240px;
    border: 1px solid $extra-dark;
    border-radius: 4px;
}
.preview-container{
    display: absolute;
    height: 200px;
    margin-top: 45px;
    background-color: $light;
}
.center-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 200px;
    font-family: 'Simonetta';
}
.tile-quote{
    margin-bottom: 0;
}
.tile-title{
    font-size: 1.5rem;
    min-height: 45px;
    margin: 5px 10px;
}
    
.tile:hover{
    box-sizing: border-box;
    border: 2px solid $green;
    cursor: pointer;
    .tile-title{
        font-weight: 500;
        text-decoration: underline;
    }
    .preview-container{
        height: 198px;
    }
}
.tile-date{
    text-align: right;
    margin-right: 16px;
}