@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: local('Arial'), local('Helvetica'), local('sans-serif');
}
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');




$branding-color: #065f06;
$branding-light: rgba(6, 95, 6, 0.25);
$branding-extra-light: rgba(6, 95, 6, 0.10);
$branding-dark: rgba(4, 75, 4, 0.336);
$branding-extra-dark: rgba(3, 51, 3, 0.493);
//used on 
//blogFooter.scss
//postTile.scss


// $breakpoint-tablet: ;
// $breakpoint-phone-landscape: ;
// $breakpoint-phone-portrait: ;
// $breakpoint-max: ;

// @media ()
html{
    font-size: 62.5%;
}

body {
//core set-up
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.app {
    margin: 0 4.5% 3%;
    background-color: white;
    font-size: 1.6rem;        
    color: black;    
}
h1 {
    font-size: 2.5rem;
}
h2{
    font-size: 2rem
}
h4{
    font-size: 1
} 
.intro{
    margin-bottom: 4rem;
}

//button/section styling
.button-container, .section-container{
    margin: 1.5% 0;
}        
.fat-border{
    border-style: solid;
    border-width: 1.5px;
    border-color: $branding-color;
    border-radius: 4px;
}
.large-button, .small-button{
    display: inline-block;
    padding: .3rem;
    text-align: center;
}
.large-button:hover{
    background-color: $branding-light;
    text-decoration: underline;
    border: 2px solid $branding-color;
    cursor: pointer;
}
.small-button:hover{
    background-color: $branding-color;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.large-button{
    width: 30rem;
}
.small-button{
    width: 12rem;
    background-color: $branding-light;
}
.title{
    background-color: $branding-light;
    display: inline-block;
    padding: .3rem;
    text-align: center;
    margin: auto;
    width: 30rem;
    font-weight: 600;
    text-decoration: underline;        
}   
      
//general CSS styling
//container types

.green-space{
    margin: auto;
    max-height: max-content;
    width: 85vw;
    padding: 3%;
    border-top: 1px solid $branding-color;
    border-bottom:1px solid $branding-color;
    background-color: $branding-extra-light;
}
.dark-green-space{
    margin: auto;
    max-height: max-content;
    width: 85vw;
    padding: 3%;
    border-top: 1px solid $branding-color;
    border-bottom:1px solid $branding-color;
    background-color: $branding-dark;
}
.lrg-container{
    width: 33rem;
    margin-top: 22px;
}
.xlrg-flx-container{
    width: 85vw;
    display: flex;
}
.lrg-flx-container{
    width: 30rem;
    display: flex;
}

//alignment
.flex-right{
    justify-content: flex-end;
}
.flex-left{
    justify-content: flex-start;
}
.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.center-text{
    text-align: center;
}
.center-margins{
    margin-left: auto;
    margin-right: auto;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
//spacing and padding
.after-space{
    margin-right: 35px;
}
.top-space{
    margin-top: 35px;
}
.indent{
    padding-left: 45px;
}
//text
.italicized{
    font-style: italic;
}
