$breakpoint-phone: 414px;
$transparent-overlay: rgba(255, 255, 255, 0.384);

.header-container{ 
    background-color: $transparent-overlay;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4rem; 
    padding-top: 10px;
    padding-bottom: 1px;
    .logo{
        height: 6rem;
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 8px;
    }
    .logo:hover{
        cursor: pointer;
    }
}


@media (max-width: $breakpoint-phone){
    .header-container{
        .logo{
            margin-bottom: 10px;
        }
    }
}