$breakpoint-phone: 414px;

.header-container{ 
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4rem; 
    padding-top: 10px;
    padding-bottom: 1px;
    .logo{
        height: 6rem;
    }
}


@media (max-width: $breakpoint-phone){
    .header-container{
        .logo{
            margin-bottom: 10px;
        }
    }
}