.blog-header{
    position: relative;
    margin-bottom: 4rem;
    height: 6rem;
    .logo{
        position: absolute;
        top: 0px;
        left: 60px;
        height: 6rem;
    }
}

.page-name{
    margin-top: 45px;
    display: inline-block;
    font-family: 'Allura';
    font-size: 4rem;
    font-weight: 700;
}