$breakpoint-halfscreen: 730px;
$breakpoint-phone: 414px;

$branding-extra-dark: rgba(3, 51, 3, 0.493);

.blog-footer{
    hr{
        margin-bottom: 0;
    }
    position: relative;
    background-color:  $branding-extra-dark;
    margin-bottom: 0;
    
    .logo{
        position: absolute;
        bottom: 22px;
        left: 100px;
        height: 9rem;
    }
    .logo:hover{
        cursor: pointer;
    }
    .page-name{
        margin-top: 40px;
        margin-bottom: 15px;
        display: inline-block;
        font-family: Allura;
        font-size: 5rem;
        font-weight: 700;
    }
}

@media (max-width: $breakpoint-halfscreen){
    .blog-footer{
        .logo{
            bottom: 14px;
            left: 60px;
            height: 7rem;
        }
        .page-name{
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 4rem;
        }
    }
    
}


@media (max-width: $breakpoint-phone){
    .blog-footer{
        .logo{
            bottom: 7px;
            left: 40px;
            height: 5rem;
        }
        .page-name{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 3rem;
            font-weight: 600;
        }
    } 
    
}


//   regex /r/n //g   =>  <br>