$branding-color: #065f06;
$branding-light: rgba(6, 95, 6, 0.25);
$branding-extra-light: rgba(6, 95, 6, 0.10);
$branding-dark: rgba(4, 75, 4, 0.336);
$branding-extra-dark: rgba(3, 51, 3, 0.493);

.blog-footer{
    position: relative;
    background-color:  $branding-extra-dark;
    .logo{
        position: absolute;
        bottom: 25px;
        left: 135px;
        height: 5rem;
    }
}

.page-name{
    margin-top: 17px;
    margin-bottom: 17px;
    display: inline-block;
    font-family: Allura;
    font-size: 3rem;
    font-weight: 600;
}