.admin-home-container{
    height: 100vh;
    .home-text{
        margin: 55px 0px
    }
    .function-buttons{
        margin: 80px 0px;
    }
    .button-container{
        margin: 18px 0px;
    }
}

