$white-transparent: rgba(241, 247, 234, 0.57); 
$white-opaque: rgba(241, 247, 234, 0.73); 
$grey: rgb(63, 66, 62);
$disabled: rgba(241, 247, 234, 0.37);
.form{
    display: inline-block;
    width: 85vw;
    margin-top: 20px;
}
.form-label{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-top: 7px;
}
.form-input{
    width: 85vw;
    font-size: 1.2rem;
    height: 2.7rem;
    padding: 3px;
    background-color: $white-transparent;
    color: $grey;
    outline: none;
    :focus{
        background-color: red;
    }
}
.form-textarea{
    width: 85vw;
    height: 15rem;
    min-height: 15rem;
    font-size: 1.2rem;
    padding: 3px;
    background-color: $white-transparent;
    color: $grey;
    vertical-align: top;
    outline: none;
}
.form-error{
    min-height: 2.7rem;
    min-width: 0.75vw;
    font-size: 1.3rem;
}
button{
    color: $grey;
    background-color: $white-transparent;
}
.disabled{
    color: $disabled
}

 

