$jade: rgba(246, 248, 246, 0.712); 
$grey: rgb(49, 51, 48);
$disabled-text: rgba(241, 248, 232, 0.411);
$disabled-bkgd: rgba(246, 248, 246, 0.445);

.form{
    display: inline-block;
    width: 85vw;
    margin-top: 20px;
}
.form-label{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-top: 7px;
}
.form-input{
    width: 85vw;
    font-size: 1.2rem;
    height: 2.7rem;
    padding: 3px;
    background-color: $jade;
    color: $grey;
    outline: none;
}
.form-textarea{
    width: 85vw;
    height: 15rem;
    min-height: 15rem;
    font-size: 1.2rem;
    padding: 3px;
    background-color: $jade;
    color: $grey;
    vertical-align: top;
    outline: none;
}
.form-error{
    min-height: 2.7rem;
    min-width: 0.75vw;
    font-size: 1.3rem;
}
button{
    color: $grey;
    background-color: $jade;
}
.small-button.disabled, .disabled{
    color: $disabled-text;
    background-color: $disabled-bkgd;
}
.small-button.disabled:hover{
    background-color: $disabled-bkgd;
    text-decoration: none;
    border: none;
}


