$branding-color: #065f06;
$branding-white-transparent: rgba(200, 211, 187, 0.377); 
$branding-grey: rgb(197, 196, 194);

.form{
    display: inline-block;
    width: 85vw;
}
.form-label{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 22px;
    text-align: left;
}
.form-input{
    width: 85vw;
    font-size: 1.2rem;
    height: 2.7rem;
    padding: 3px;
    background-color: $branding-white-transparent
}
.form-textarea{
    width: 85vw;
    height: 15rem;
    min-height: 15rem;
    font-size: 1.2rem;
    padding: 3px;
    background-color: $branding-white-transparent
}
button{
    color: $branding-grey;
    background-color: $branding-white-transparent
}
