.post-quote{
    font-family: 'Simonetta';
    text-align: center;
}
.post-body{
    margin-left: 8vw;
    margin-right: 8vw
}
.post-title{
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: underline;
}
.post-content{
    text-align: justify;
    text-justify: inter-word;
    white-space: pre-line;
}
